<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'css/main_nav.css' %}">
    {% block head_block  %}
    
    {% endblock  %}
    
    
</head>

<body>
    <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="https://www.pngfind.com/pngs/m/192-1923839_black-snake-png-transparent-png.png" width="30" height="30" class="d-inline-block align-top" alt=""> SnakeHub
        </a>

    </nav> -->

    <nav id="navid" class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://www.pngfind.com/pngs/m/192-1923839_black-snake-png-transparent-png.png" width="30" height="30" class="d-inline-block align-top" alt=""> SnakeHub
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:index' %}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:mainregister' %}">SnakeHub-SignUp <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:registernl' %}">SignUp-NewsLetter <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:users' %}">NewsLetter-Users <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:about' %}">About<span class="sr-only">(current)</span></a>
                </li>
                
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:user_logout' %}">Log Out! <span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                 <li class="nav-item active">
                    <a class="nav-link" href="{% url 'main:user_login' %}">Log In! <span class="sr-only">(current)</span></a>
                </li>

                {% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="type here.." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    
    <div  class="container">
    {% block body_block  %}
    
    
    {% endblock  %}
</div>


    







</body>

</html>