<!DOCTYPE html>

{% extends 'main/base.html' %}
{% load static %}
{% block head_block  %}
<title>SnakeHub</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock  %}



{% block body_block  %}
    
<h1>Welcome to Home Page</h1>
<!-- bootstrap image gallery 1 -->
<div class="container-fluid">

    <div class="jumbotron">
      <h2 class="text-center">Snakes</h2>
      <p class="text-center">Snakes are elongated, limbless, carnivorous reptiles of the suborder Serpentes. Like all other squamates, snakes are ectothermic, amniote vertebrates covered in overlapping scales.</p>
    </div>
  
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2020/01/Snake-bush-viper-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 1</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2020/01/Snake-King-Brown-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 2</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2020/01/Snake-baby-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 3</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/12/Eastern-Mud-Snake-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 4</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/11/Best-Pet-Snakes-Garter-Snake-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 5</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/08/Animals-That-Lay-Eggs-snake-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 6</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/07/Flying-Snake-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 7</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/08/Fear-of-Animals_-Ophidiophobia-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 8</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/09/Are-snakes-mammals-puffing-snake-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 9</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2021/12/Texas-rat-snake-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 10</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2020/01/Snake-Pit-Vipet-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 11</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <figure>
          <img src="https://a-z-animals.com/media/2020/01/Snake-Blue-viper-768x401.jpg" class="img-thumbnail grayscale">
          <figcaption>Snake 12</figcaption>
        </figure>
      </div>
    </div>
  </div>
    
    {% endblock  %}